# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

name: Build for and Test on EB corbos Linux for Safety Applications

on:
  pull_request:
    paths:
      - "ebclfsa/**"
  push:
    branches:
      - main
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    name: build-and-test-ebclfsa
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/eclipse-score/devcontainer:v1.1.0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build for EB corbos Linux for Safety Applications and run tests
        run: |
          bazel build --config=aarch64-ebclfsa //scrample_integration:run
          bazel build --config=aarch64-ebclfsa //persistency_integration:run
        working-directory: ./ebclfsa

      - name: Upload test logs
        uses: actions/upload-artifact@v5
        with:
          name: test-logs
          path: |
            ebclfsa/bazel-bin/scrample_integration/*.log
            ebclfsa/bazel-bin/persistency_integration/*.log
